
doctype html
html(lang = 'en')

  block vars
  - var navLinks = []
  - navLinks.push({ href: '/', text: 'globjects' })
  - navLinks.push({ href: '/docs.html', text: 'Documentation' })
  - navLinks.push({ href: 'https://github.com/cginternals/globjects/wiki', text: 'Wiki' })
  - navLinks.push({ href: 'https://github.com/cginternals/globjects', text: 'GitHub' })

  include head.pug
  body.bg-light
  
    include navbar.pug

    block header

    block content

    include foot.pug
