extends partials/index.pug


block vars
  - var navActive = 0

block head
  // link(rel = 'stylesheet' href = 'css/template.css')
  // script(src = 'js/tempalte.js')

block header
  section.container
    header.jumbatron
      img(src = 'img/globjects-logo.svg' alt = 'globjects logo').mb-2.w-50.d-none.d-md-block
      img(src = 'img/globjects-logo.svg' alt = 'globjects logo').mb-2.d-block.d-md-none
      p.lead globjects is a cross-platform C++ wrapper for OpenGL API objects.

block content
  section.container
    div.row
      div.col
        include:markdown-it(html plugins=['markdown-it-highlightjs']) README.md

  section.container
    div.row
      div.col
        include:markdown-it(html plugins=['markdown-it-highlightjs']) SUPPORT.md
