
extends ../partials/index.pug


block vars
  - var documentations = []
  - documentations.push({ name: 'v1.1', status: 'latest stable', date: '0', bootstrapClass: 'success' })
  - documentations.push({ name: 'v1.0', status: 'stable', date: '0', bootstrapClass: 'primary' })
  - documentations.push({ name: 'master', status: 'unstable', date: '05.04.2017', bootstrapClass: 'warning' })
  - var navActive = 1

block head
  // link(rel = 'stylesheet' href = 'css/template.css')
  // script(src = 'js/tempalte.js')

block header
  section.container
    header.jumbatron
      img(src = 'img/globjects-logo.svg' alt = 'globjects logo').mb-2.w-50.d-none.d-md-block
      img(src = 'img/globjects-logo.svg' alt = 'globjects logo').mb-2.d-block.d-md-none
      p.lead globjects is a cross-platform C++ wrapper for OpenGL API objects.

block content

  section.container
    div.row
      div.col 
        h2.mb-4 Available Documentations

        div.card-columns
          each doc in documentations
            div.card(class='border-' + doc.bootstrapClass)
              div.card-body(class='text-' + doc.bootstrapClass)
                div.card-title
                  a.nav-link.active(href='/docs/' + doc.name)
                    div.card-block.text-center
                      div.pull-left
                        span.h2= doc.name
                      div.pull-right
                        span.badge(class='badge-' + doc.bootstrapClass)= doc.status
        
  section.container
    div.row
      div.col
        include:markdown-it(html plugins=['markdown-it-highlightjs']) integration-guide.md
